.profiles {
    &.content {
        max-width: $main-max-width;
    }
    & > header {
        text-align: center;
    }
}

.profiles-list {
    justify-content: center;
    li {
        flex: 0 0 50%;
        max-width: 50%;
        @media (min-width: $screen-xs) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
        @media (min-width: $screen-sm) {
            flex: 0 0 25%;
            max-width: 25%;
        }
        @media (min-width: $screen-md) {
            flex: 0 0 20%;
            max-width: 20%;
        }
        @media (min-width: $screen-lg) {
            flex: 0 0 16.66%;
            max-width: 16.66%;
        }
    }
}

.profile {
    padding: 3rem 1rem;
    text-align: center;
    cursor: pointer;
    font-size: $profile-font-size;
}

.profile-new {
    font-size: 3rem;
    line-height: $profile-font-size * $line-height;
}

.profiles-new-form {
    font-size: 1.15em;
    width: 18em;
    max-width: 90%;
}