$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

$font-size: 14px;
$line-height: 1.5;

$h1-size: 18px;
$h2-size: 28px;
$h3-size: 22px;
$h4-size: 18px;

$profile-font-size: 1.15rem;

$main-max-width: 1030px;
$question-max-width: 700px;
$result-max-width: 530px;